<p id="notice"><%= notice %></p>

<p>
  <strong></strong>
  <%= @question.question %>
</p>

<%= @random_image %><br>

<img src="<%= @random_image%>">

<br><%= link_to 'Ask again...', new_question_path %>
